.submit-btn {
    width: 155px;
    height: 50px;
    border-radius: 24px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
}

main {
    position: relative;
}

.contact-case {
    width: 100%;
    max-width: 430px;
    overflow: hidden;
    position: relative;
}

.contact-content {
    width: 100%;
    max-width: 430px;
}

.contact-content section {
    text-align: center;
}

h1 {
   font-size: 3rem; 
   margin: 15px 0;
}

span {
   font-size: 2rem; 
   line-height: 48px;
}

.inner-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inner-content p {
    width: 232px;
}

.contact-form {
    width: 100%;
    max-width: 430px;
    margin-bottom: 80px;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

textarea {
    border: none;
    border-bottom: white 1px solid;
}

label {
    visibility: hidden;
}

input {
    background-color: #014E56;
    width: 400px;
    height: 42px;
    border: none;
    border-bottom: white 1px solid;
    color: white;
}

input::placeholder {
    font-size: 1rem;
    line-height: 25px;
}

input:focus {
    border-color: #5fb4a2;
    outline: none;
}

input:user-valid {
    border-color: #5fb4a2;
}

input:not(:placeholder-shown):invalid { 
  border-color: red;
}


textarea {
    background-color: #014E56;
    margin-bottom: 20px;
    color: white;
}

.contact-pattern1 {
    display: none;
}

.contact-pattern2 {
    position: absolute;
    bottom: -100px;
    right: -100px;
    z-index: -1;
}



/*tablet*/
@media (min-width: 768px) {
    .contact-case {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-content {
        width: 100%;
        max-width: 520px;
        margin-top: 60px;
    }

    h1 {
        font-size: 4rem;
    }

    .inner-content {
        margin: 15px;
    }

    .inner-content p {
        width: 420px;
        margin: 15px;
    }

    .contact-form {
        max-width: 520px;
        margin: 20px 0 120px 0;
    }

    input {
        width: 520px;
    }

    textarea {
        width: 520px;
    }

    .contact-pattern1 {
        display: flex;
        position: absolute;
        left: -100px;
        top: 70px;
        z-index: -1;
    }

    .contact-pattern2 {
        bottom: 0px;
    }
}

/*desktop*/
@media (min-width: 1024px) {
    .contact-case {
        flex-direction: row;
        height: 100%;
    }

    .contact-content {
        margin: 60px 10px 60px 0;
        max-width: 500px;
    }

    .contact-form {
        margin: 60px 0 60px 0px;
        max-width: 500px;
    }

    input {
        width: 500px;
    }

    textarea {
        width: 500px;
    }
}