/*hero section*/
.hero-container {
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-section {
    width: 327px;
}

.hero-section h1 {
    line-height: 40px;
    padding: auto;
    margin-bottom: 10px;
}

.hero-section p {
    line-height: 28px;
    margin: 10px 0 50px 0;
}

.hero-pattern {
    width: 100%;
    max-width: 375px;
}


/*content section*/
.content-container {
    background-color: #012F34;
    width: 100%;
    max-width: 430px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.content-heading {
    width: 240px;
    text-align: left;
    font-size: 2rem;
    padding-top: 50px;
    position: relative;
    top: 60px;
    left: -50px;
}

.content-heading h2 {
    width: 240px;
}

.content-heading::before {
    content: "";
    height: 4px;
    width: 50px;
    background-color: #F67E7E;
    position: absolute;
    top: 0px;
    left: 0;
}

.content-pattern {
    position: absolute;
    top: 0;
    right: -100px;
}

.content-card {
    display: flex; 
    flex-direction: column;
    margin-top: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card h3 {
    color: #F67E7E;
    font-size: 1.3rem;
    margin: 20px 0;
    line-height: 28px;
}

.card p {
    line-height: 28px;
    margin-bottom: 50px;
}


/*stories section*/
.stories-container {
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.stories-pattern {
    align-self: flex-start;
}

.stories-heading {
    width: 325px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.stories-heading h2 {
    font-size: 2rem;
    line-height: 32px;
}

.highlight2 {
    color: #79C8c7;
}

.user-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px 0;
}

.user-story h3 {
    color: #79C8C7;
    margin: 20px 0 2px 0;
}z

.user-story span {
    color: #ffffff;
    font-weight: 500;
    line-height: 18px;
    font-size: 0.9em;
    margin: 2px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #79C8C7;
    margin: 10px;
}

.stories-pattern2 {
    align-self: flex-end;
}

